* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  max-width: 1230px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 20px;
  box-shadow: 0 0 35px #eee;
}
a {
  text-decoration: none;
}
ul li {
  list-style: none;
}
button {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
}
